### By - Aastha Agarwal 
###  LinkedIn - https://www.linkedin.com/in/aasthaa1jan/

# Topic 3 : STRINGS

# STRINGS

In [2]:
# Strings -> sequence of Unicode Characters

# 1.Creating 
# 2.Accessing
# 3.Adding Chars to Strings
# 4.Editing
# 5.Deleting
# 6.Operations on Strings 
# 7.String Functions

In [7]:
# 1.Creating 

s='hello'
print(s)
s="hi"
print(s)
s='''Triple Quotes...'''  #MULTILINE 
print(s)
s="""Triple Double Quotes..."""
print(s)

hello
hi
Triple Quotes...
Triple Double Quotes...

In [12]:
# 2.Accessing
# indexing

# positive indexing
s='Hello there.'
print(s[7])

# negative indexing
s='Hello there.'
print(s[-4])

h
e

In [23]:
# slicing
s='Hello there.'
print(s[0:5])

print(s[:])

print(s[0:7:2])

# reverse
print(s[8::-1])
print(s[::-1])

Hello
Hello there.
Hlot
eht olleH
.ereht olleH

In [24]:
# slicing using negative indexing

In [27]:
s='Hello there'
print(s[-1:-6:-1])

ereht

In [31]:
# 3.Adding Chars to Strings

In [30]:
# 4.Edit / Delete a string
s='Hello World..'
s[0]='H'   
# PYTHON STRINGS ARE IMMUTABLE

TypeError: 'str' object does not support item assignment

In [32]:
a="Aastha Agarwal"
del(a)
print(a)
# Not defined as the string is delete

NameError: name 'a' is not defined

# Operations in strings

# i.Arithmetic Operations

In [44]:
print('Aastha'+' '+'Agarwal')

print('Aastha '*3)

print('*'*50)

Aastha Agarwal
Aastha Aastha Aastha
**************************************************

# ii.Relational Operations

In [43]:
'delhi'=='Delhi'

False

In [40]:
'Mumbai'<'Pune'
# lexiographically order

True

In [41]:
'delhi'>'Delhi'

True

# iii.Logical Operations

In [46]:
'Hello' and 'hello'

# 1 AND 1

# Agar string me characters h toh TRUE hai 
# Agar string null h to FALSE h

'hello'

In [47]:
'Hello' or 'hello'
# 1 OR 1=1

'Hello'

In [48]:
'' and 'Hiii'
# 0 and 1

''

In [49]:
'Hiii' or ''
# 1 or 0

'Hiii'

In [50]:
not ''

True

In [51]:
not 'Hiii'

False

# iv.Loops

In [52]:
for i in 'Delhi':
    print('pune')
    
    
# loop utni baar chalega jitne no of characters ho

pune
pune
pune
pune
pune

In [53]:
 'D' in 'delhi'

False

# String Functions

Common Functions

* len
* max
* min
* sorted

In [55]:
len('Hello')

5

In [56]:
max('Hello')

'o'

In [57]:
min('Hello')

'H'

In [58]:
sorted('Hello World')

[' ', 'H', 'W', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r']

Capitalize / Title / Upper / Lower / SwapCase

In [61]:
s='Hello'
s.capitalize()

'Hello'

In [62]:
s.title()

'Hello'

In [63]:
s.upper()

'HELLO'

In [64]:
s.lower()

'hello'

In [66]:
a='HeLlO WoRLd'
a.swapcase()

'hElLo wOrlD'

Count / Find / Index

In [69]:
'My name is Aastha Agarwal.'.count('a')

5

In [70]:
'My name is Aastha Agarwal.'.find('is')
# -1 for not found

8

In [72]:
'My name is Aastha Agarwal.'.index('a')
# error if not found

4

endswith / startwith

In [73]:
'My name is Aastha Agarwal.'.endswith('al.')

True

In [95]:
'My name is Aastha Agarwal.'.startswith('My')

True

format

In [83]:
name='Aastha'
gender='female'

'Hi my name is {} and I am a {}'.format(name,gender)

'Hi my name is Aastha and I am a female'

In [85]:
'Hi my name is {1} & I am a {0}'.format(gender,name)

'Hi my name is Aastha & I am a female'

isalnum / isalpha / isdigit / isidentifier

In [86]:
'Aastha1Jan'.isalnum()

True

In [87]:
'Aastha'.isalnum()

True

In [91]:
'01012002'.isdigit()

True

In [94]:
print('Aastha1Jan'.isidentifier())
print('1Aastha1Jan'.isidentifier())

True
False

Split / Join

In [99]:
'My name is Aastha Agarwal.'.split()

['My', 'name', 'is', 'Aastha', 'Agarwal.']

In [102]:
' '.join(['My', 'name', 'is', 'Aastha', 'Agarwal.'])

'My name is Aastha Agarwal.'

Replace

In [103]:
'My name is Aastha Agarwal.'.replace('Aastha','Campusx')

'My name is Campusx Agarwal.'

Strip

In [105]:
'Aastha                      '.strip()
# remove trailing spacing

'Aastha'