# Topic 4 : PYTHON DATA STRUCTURES
## B. TUPLES

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

    - Ordered
    
    - Unchangeble
    
    - Allows duplicate

# Plan of attack

    -Creating a Tuple
    -Accessing items
    -Editing items
    -Adding items
    -Deleting items
    -Operations on Tuples
    -Tuple Functions

# Creating Tuples

In [7]:
# empty
T = ()

# create a tuple with a single item
T1 = (1)
print(type(T1))
T1 = (1,)
print(T1)
print(type(T1))

# homo
t3 = (1,2,3,4,5)
print(t3)

# hetro
t4 = (1,1,2,4,[1,2,3],True)
print(t4)

# 2d tuple
t5 = (1,2,3,4,(5,6,7))
print(t5)

# using type conversion
t6 = tuple('hello')
print(t6)

<class 'int'>
(1,)
<class 'tuple'>
(1, 2, 3, 4, 5)
(1, 1, 2, 4, [1, 2, 3], True)
(1, 2, 3, 4, (5, 6, 7))
('h', 'e', 'l', 'l', 'o')

# Accessing Items

    - Indexing
    - Slicing

In [10]:
t3
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4, 5)
1
5

In [12]:
t3[0:4:2]

(1, 3)

In [13]:
t3[::-1]

(5, 4, 3, 2, 1)

# Editing items

In [14]:
# immutable just like strings
print(t3)

t3[0]=100

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

# Adding items

In [17]:
# not possible
print(t3)

(1, 2, 3, 4, 5)

# Deleting items

In [18]:
print(t3)

(1, 2, 3, 4, 5)

In [22]:
del t3   # works only on deleting the whole tuple
print(t3)

NameError: name 't3' is not defined

In [23]:
print(t5)
del t5[-1]

# immutable

(1, 2, 3, 4, (5, 6, 7))

TypeError: 'tuple' object doesn't support item deletion

# Operations on Tuples

In [32]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1+t2)
print(t1*3)

# membership
print(2 in t1)

# iteration
for i in t2:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
5
6
7
8

# Tuple Functions

In [34]:
# len/sum/min/max/sorted

t3 = (1,2,7,4,5)
print(len(t3))
print(sum(t3))
print(min(t3))
print(max(t3))
print(sorted(t3))
print(t3)

print(sorted(t3,reverse=True))

5
19
1
7
[1, 2, 4, 5, 7]
(1, 2, 7, 4, 5)
[7, 5, 4, 2, 1]

In [35]:
# count
t1.count(2)

1

In [37]:
# index
t2.index(7)

2

# Difference between Lists and Tuples

    - Syntax --> list[] , tuple()
    - Mutability --> tuples(immutable), list(mutable)
    - Speed --> tuple>lists
    - Memory --> list takes more memory.
    - Built in functionality --> list built in functions > tuple built in function
    - Error prone --> List is more error prone
    - Usability --> list is more usable since it's mutable

# Why use tuple?

Special Syntax

In [40]:
# tuple unpacking
a,b,c = (1,2,3)
print(a)
print(b)
print(c)
print(a,b,c)

1
2
3
1 2 3

In [41]:
a,b,c,d = 1,2,3

ValueError: not enough values to unpack (expected 4, got 3)

In [44]:
# swapping can be done easily using tuple unpacking

x = 3
y = 5
x,y = y,x
print(x,y)

5 3

In [45]:
a,b, *others = (1,2,3,4,5,6,7,8,9,10)
print(a,b)
print(others)

1 2
[3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

print(zip(a,b))

print(list(zip(a,b)))

print(tuple(zip(a,b)))

<zip object at 0x000001EEFE087580>
[(1, 5), (2, 6), (3, 7), (4, 8)]
((1, 5), (2, 6), (3, 7), (4, 8))

# Topic 4 : PYTHON DATA STRUCTURES
## C. SETS

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:

    - Unordered
    - Mutable
    - No Duplicates
    - Can't contain mutable data types

# Creating Sets

In [66]:
# empty
s = set()
print(s)
type(s)

# 1D and 2D
s1 = {1,2,3}
print(s1)

# s2 = {1,2,3,{4,5,6}}
#s2 = {1,2,3,{4,5}}
#print(s2)

# homo and hetro
s3 = {1,2,3,4,5}
s4 = {1,2,'A',True}
print(s3)
print(s4)
#set only holds unique values and hence treats True as 1 

# using type conversion
s4 = set([1,2,3])
print(s4)

# duplicates not allowed
s5 = {1,2,3,4,3,4}
print(s5)

# set can't have mutable items
s6 = {1,2,[3,4]}
print(s6)

set()
{1, 2, 3}
{1, 2, 3, 4, 5}
{1, 2, 'A'}
{1, 2, 3}
{1, 2, 3, 4}

TypeError: unhashable type: 'list'

In [67]:
s1 = {1,2,3}
s2 = {2,3,1}

print(s1 == s2)

True

# Accessing Items

Tuple items cannot be accessed using index.

Hence, accessing as well as slicing doesnot work with Sets

In [68]:
s1 = {1,2,3,4}
s1[1]

TypeError: 'set' object is not subscriptable

# Editing Items

again Set is unordered

In [1]:
s1 = {1,2,3,4}
s1[0] =100

TypeError: 'set' object does not support item assignment

# Adding Items

In [4]:
S = {1,2,3,4}
# add
S.add(5)
print(S)

{1, 2, 3, 4, 5}

In [5]:
# update
S.update([6,7,8])
print(S)

{1, 2, 3, 4, 5, 6, 7, 8}

# Deleting Items

In [12]:
## del
s = {1,2,3,4,5}
print(s)
# del s[0]  # Whole set can be deleted but not a single element
# print(s)


## discard ---> allowed
# s.discard(5)
# print(s)
# s.discard(50)
# print(s)


# remove
# s.remove(50)
# print(s)


# pop ---> deletes random items
# s.pop()


# clear ---> clears tghe whole set
s.clear()
print(s)

{1, 2, 3, 4, 5}
set()

# Set Operation

In [24]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# Union(|)
print(s1|s2)

# Intersection(&)
print(s1 & s2)

# Difference(-)
print(s1 - s2)
print(s2 - s1)

# Symmetric Difference(^)
print(s1 ^ s2)

# Membership Test
print(1 in s1)
print(1 in s2)

# Iteration
for i in s1:
    print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
True
False
1
2
3
4
5

# Set Functions

In [26]:
S = {1, 2, 3, 4, 5, 6, 7, 8}

# len/sum/min/max/sorted
print(len(S))

print(sum(S))

print(min(S))

print(max(S))

print(sorted(S))

8
36
1
8
[1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
print(s1.union(s2))

# union update
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [33]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

print(s1)
print(s2)

s1.intersection_update(s2)

print(s1)
print(s2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{4, 5}
{4, 5, 6, 7, 8}

In [35]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

print(s1)
print(s2)

s1.difference_update(s2)

print(s1)
print(s2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3}
{4, 5, 6, 7, 8}

In [36]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

print(s1)
print(s2)

s1.symmetric_difference_update(s2)

print(s1)
print(s2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [39]:
# isdisjoint/issubset/issuperset

s1 = {1,2,3,4,5}
s2 = {6,7,8}

print(s1.isdisjoint(s2))

s1 = {1,2,3,4,5}
s2 = {4,5}

print(s1.issubset(s2))

print(s1.issuperset(s2))

True
False
True

In [40]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

# Frozenset
Frozen set is just an immutable version of a Python set object

In [42]:
# create frozenset
fs = frozenset([1,2,3])
fs

frozenset({1, 2, 3})

In [43]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1|fs2

frozenset({1, 2, 3, 4, 5})

In [ ]:
# what works and what does not
# works -> all read functions
# does't work -> write operations

In [45]:
# When to use
# 2D sets

fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

# Set Comprehension

In [47]:
# examples
{ i for i in range(1,11) if i%2==0}

{2, 4, 6, 8, 10}

In [48]:
{ i for i in range(1,11) if i>5}

{6, 7, 8, 9, 10}

# Topic 4 : PYTHON DATA STRUCTURES
## D. DICTIONARY

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

1. Mutable
2. Indexing has no meaning
3. Keys can't be duplicated
4. Keys can't be mutable items

# Create Dictionary

In [7]:
# empty dictionary
Dict = {}
print(Dict)

# 1D dictionary
Dict = { 'name' : 'Aastha' , 'gender' : 'female' }
print(Dict)

# with mixed keys
Dict = { 'name' : 'Aastha' , 'age' : 21 , 'gender' : 'female' }
print(Dict)

d2 = { (1,2,3) : 1 , 'hello' : 'world'}
print(d2)

# 2D dictionary -> JSON
d3 = { 'Name' : 'Aastha' ,
       'Age' : 21 , 
       'Sem' : 8 ,
       'Subjects' : {
           'DSA' :  50 , 
           'Maths' : 60 , 
           'DV' : 70
       }
}
print(d3)

# using sequence and dict function
d4 = dict([(1,1),(2,4),(3,9),(4,16)])
print(d4)

d4 = dict([('Name','Aastha'),('Age',21),('Course','BTech'),('Domain','Data Science')])
print(d4)

# duplicate keys --> replaces previous value with new value
d5 = {'name': 'Aastha', 'name': 'Aastha Agarwal'}
print(d5)

# mutable items as keys
# d6 = {'name': 'Aastha', [1,2,3]:2}   # --> not allowed since lists are mutable 
# prine(d6)

d6 = {'name': 'Aastha', (1,2,3):2}  # --> tuples are immutable
print(d6)

{}
{'name': 'Aastha', 'gender': 'female'}
{'name': 'Aastha', 'age': 21, 'gender': 'female'}
{(1, 2, 3): 1, 'hello': 'world'}
{'Name': 'Aastha', 'Age': 21, 'Sem': 8, 'Subjects': {'DSA': 50, 'Maths': 60, 'DV': 70}}
{1: 1, 2: 4, 3: 9, 4: 16}
{'Name': 'Aastha', 'Age': 21, 'Course': 'BTech', 'Domain': 'Data Science'}
{'name': 'Aastha Agarwal'}
{'name': 'Aastha', (1, 2, 3): 2}

# Accessing items

In [28]:
d3 = { 'Name' : 'Aastha' ,
       'Age' : 21 , 
       'Sem' : 8 ,
       'Subjects' : {
           'DSA' :  50 , 
           'Maths' : 60 , 
           'DV' : 70
       }
}
print(d3)

print(d3['Subjects'])

# d3[0]  # --> not allowed

# []
print(d3['Name'],d3['Age'])

# get
d3.get('Name')

{'Name': 'Aastha', 'Age': 21, 'Sem': 8, 'Subjects': {'DSA': 50, 'Maths': 60, 'DV': 70}}
{'DSA': 50, 'Maths': 60, 'DV': 70}
Aastha 21

'Aastha'

# Adding key-value pair

In [16]:
d3['Gender'] = 'Female'

print(d3)

{'Name': 'Aastha', 'Age': 21, 'Sem': 8, 'Subjects': {'DSA': 50, 'Maths': 60, 'DV': 70}, 'Gender': 'Female'}

# Remove key-value pair

In [25]:
d = {'Name': 'Aastha', 'Age': 21, 'Sem': 8, 3:3, 'Subjects': {'DSA': 50, 'Maths': 60, 'DV': 70}, 'Gender': 'Female'}
# pop
# d.pop(3)
print(d)


# popitem
d.popitem()
print(d)


# del
del d['Name']
print(d)


# clear
d.clear()
print(d)

{'Name': 'Aastha', 'Age': 21, 'Sem': 8, 3: 3, 'Subjects': {'DSA': 50, 'Maths': 60, 'DV': 70}, 'Gender': 'Female'}
{'Name': 'Aastha', 'Age': 21, 'Sem': 8, 3: 3, 'Subjects': {'DSA': 50, 'Maths': 60, 'DV': 70}}
{'Age': 21, 'Sem': 8, 3: 3, 'Subjects': {'DSA': 50, 'Maths': 60, 'DV': 70}}
{}

# Editing key-value pair

In [29]:
d = {'Name': 'Aastha', 'Age': 21, 'Sem': 8, 3:3, 'Subjects': {'DSA': 50, 'Maths': 60, 'DV': 70}, 'Gender': 'Female'}
d['Subjects']['DSA'] = 80

print(d)

{'Name': 'Aastha', 'Age': 21, 'Sem': 8, 3: 3, 'Subjects': {'DSA': 80, 'Maths': 60, 'DV': 70}, 'Gender': 'Female'}

# Dictionary Operations

    - Membership
    - Iteration

In [33]:
D = {'Name': 'Aastha', 'Age': 21, 'Sem': 8,'Subjects': {'DSA': 80, 'Maths': 60, 'DV': 70}, 'Gender': 'Female'}

print('Name' in D)

True

In [34]:
for i in D:
    print(i,D[i])

Name Aastha
Age 21
Sem 8
Subjects {'DSA': 80, 'Maths': 60, 'DV': 70}
Gender Female

# Dictionary Functions

In [36]:
# len/sorted
len(D)

5

In [37]:
sorted(D)

['Age', 'Gender', 'Name', 'Sem', 'Subjects']

In [39]:
# items/keys/values
D.items()

dict_items([('Name', 'Aastha'), ('Age', 21), ('Sem', 8), ('Subjects', {'DSA': 80, 'Maths': 60, 'DV': 70}), ('Gender', 'Female')])

In [40]:
D.keys()

dict_keys(['Name', 'Age', 'Sem', 'Subjects', 'Gender'])

In [41]:
D.values()

dict_values(['Aastha', 21, 8, {'DSA': 80, 'Maths': 60, 'DV': 70}, 'Female'])

In [44]:
# update
D1 = {1:2 ,2:3 , 3:4 , 4:5}
D2 = {5:6 , 6:7}

D1.update(D2)
print(D1)

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7}

# Dictionary Comprehension

## {key : value for vars in iterable}

In [45]:
# print 1st 10 numbers and their squares
{i : i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [55]:
# using existing dict
distances = {'Delhi':1000 , 'Mumbai':1240 , 'Banglore':3000}
{ key:value*0.82 for (key,value) in distances.items()}

{'Delhi': 820.0, 'Mumbai': 1016.8, 'Banglore': 2460.0}

In [46]:
# using zip
days = ["Sunday" , "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
temp = [30.4 , 32.6 , 29.7 , 31.9 , 33.0 , 30.8 , 32.2]

dict(zip(days,temp))

{'Sunday': 30.4,
 'Monday': 32.6,
 'Tuesday': 29.7,
 'Wednesday': 31.9,
 'Thursday': 33.0,
 'Friday': 30.8,
 'Saturday': 32.2}

In [54]:
# using if condition
products = {'phone' : 10 , 'laptop' : 0 , 'charger' : 32 , 'tablet' : 4}

{ key:value for (key,value) in products.items() if value>5}

{'phone': 10, 'charger': 32}

In [56]:
# Nested Comprehension
# print tables of number from 2 to 4

{i : {j : i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}